<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="db.dao.ExamDao">  
    <select id="findExamById" parameterType="String" resultType="Exam">  
        select * from exam where id=#{id}  
    </select>
    <insert id="insertExamInDb" parameterType="Exam">  
        insert into exam (examId,
							region,
							questionType,
							questionNum,
							questionInfo,
							errorQuestion,
							score)  
              values   (#{examId},
						#{region},
						#{questionType},
						#{questionNum},
						#{questionInfo},
						#{errorQuestion},
						#{score})
    </insert>
    <update id="updateExamInDb" parameterType="Exam">
        update exam
            set exam.examId = #{examId},
                exam.region = #{region},
                exam.questionType = #{questionType},
                exam.questionNum = #{questionNum},
                exam.questionInfo = #{questionInfo},
                exam.errorQuestion = #{errorQuestion},
                exam.score = #{score}
         where exam.examId = #{examId} 
	</update> 
</mapper>  