<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>录题系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 class=“title” align="center">行测录题系统</h1>
	<form action="/ExamProject/insertQuestion">
	题目：<br> 
	<input class="question" type="text" name="题目">
	<br>
	选项A:<br>
	<input class="select" type="text" name="选项A">
	<br>
	选项B:<br>
	<input class="select" type="text" name="选项B">
	<br>
	选项C:<br>
	<input class="select" type="text" name="选项C">
	<br>
	选项D:<br>
	<input class="select" type="text" name="选项D">
<br><br>
<input type="submit" value="Submit">
</form> 
</body>
</html>